[Desktop Entry]
Type=Application
Name=Sigil-Enhanced
Comment=Enhanced EPUB file editor
TryExec=sigil
Exec=sigil %F
Icon=sigil
Categories=Office;
MimeType=application/epub+zip;
